<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório PIX</title>
</head>
<body>
    <% for(let i = 0; i < successPay.length; i++){ %>
    <li>
        ID: <%= successPay[i].id %> </br>
        VALOR: <%= successPay[i].value %> </br>
        HORARIO: <%= successPay[i].date %> </br>
    </li>
    <hr />
    <% } %>
</body>
</html>