html,
body {
    margin: 20px;
    height: calc(100% - 40px);
    background-color: #333;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #eee;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    border: solid 2px black;
    
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px;
}

.selected {
    align-self: center;
    margin-top: 10px;
    width: 90px;
    height: 30px;
    border: solid 1px seagreen;
    border-radius: 20px;
    background-color: seagreen;
    color: whitesmoke;
    font-size: 1.2em;
}

.selected:hover {
    background-color: springgreen;
    border: solid 1px springgreen;
    color: black;
}

.pix {
    align-self: center;
    text-align: center;
}

a {
    text-decoration: none;
    color: whitesmoke;
    background: seagreen;
    padding: 5px;
    border-radius: 15px;
    font-size: 1.2em;
}

a:hover {
    background-color: springgreen;
    border: solid 1px springgreen;
    color: black;
}